@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Raleway&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  ;
}

body {
  background-color: #ffd1d3;
  font-family: Raleway;
}

h1, h3 {
  font-family: Poppins;
}

#logoholder {
  padding-bottom: 5px;
  height: 150px;
  position: relative;
}

#logo {
  color: red;
  display: inline;
  font-size: 40px;
  position: relative;
  bottom: 75px;
  left: 10px;
}

#logoholder a {
  text-decoration: none;
  padding-bottom: 50px;
  color: red;
}

img.logo-img {
    width: 150px;
    height: 150px;
}

#logoholder p {
  position: relative;
  bottom: 80px;
  left: 170px;
  height: 100px;
  width: 310px;
  line-height: 15px;
}


#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 120%;
  background-color: #a7a7a7; 
  position: sticky;
  overflow: hidden;
  border: 2px solid #fff;
  width: 100%;
  
}

#menu li {
  float: left;
  color: #fff;
  border-right: 2px solid #fff;
}

#menu li:last-child {
  border-left: 2px solid #fff;
  border-right: none;
  float: right;
}

#menu li a {
  padding: 10px;
  display: block;
  text-align: center;
}

#menu li a:link,a:visited {
    color: #fff;
    text-decoration: none;
}


#menu li a:hover {
  background-color: #e70b0b;
  color: #fff; 
}

.active {
  background-color: #e70b0b;
  color: #fff;    
}

#logoholder, #menu {
  line-height: 50px;
}

#hero-image {
  height: 400px;
  width: 100%;
  background: url(https://thefa.shorthandstories.com/fa-cup-finals-the-winners-list/assets/zKWQGNclL4/2560-arsenal-celeb-2560x1440.jpeg) no-repeat center center;
  background-size: 100%;
}


.content-1-title {
  padding-left: 240px;
  padding-top: 20px;
}

.content-1 {
  background-color: white;
  width: 95%;
  display: block;
  overflow: auto;
  margin: 10px auto;
  border: 1px solid white;
  border-radius: 25px;
}

.content-2-title {
  padding: 0;
  text-align: center;
}

.content-2 {
  background-color: white;
  width: 95%;
  display: block;
  overflow: hidden;
  margin: 10px auto;
  border: 1px solid white;
  border-radius: 25px;
  margin-bottom: 4%;
  padding-bottom: 2%;
}

.reddit-top-month {
  position: relative;
  float: left;
  padding: 5px;
  padding-right: 100px;
  border-right: solid 1px #a7a7a7;
  padding-left: 120px;
  width: 600px;
  display: inline;
}

.reddit-top-month blockquote {
  display: inline;
  
  
}

#Reddit-IMG-Ad {
  position: relative;
  right: 0px;
  top: 100px;
  float: right;
  display: inline;
  top: -28px;
  width: 300px;
  height: 100%;

}

#Reddit-IMG-Ad img {
  position: relative;
  left: 5px;
  padding-bottom: 20px;
}

#Reddit-IMG-Ad h3 {
  position: relative;
  right: 42px;
  top: 0px;
  text-align: center;
}

.subreddit-widget {
    position: relative;
    right: 70px;
}

.subreddit-widget h4 {
    text-align: center;
    padding-left: 35px;
}

.subreddit-widget #o-subs {
    padding-top: 20px;
}

.other-subs {
    width: 200px;
    height: 300px;
    list-style-type:none;
}

.other-subs li {
    text-align: center;
    font-size: 120%;
    padding: 10px;
    border: solid 2px #fff;
    background-color: red;
}

.other-subs a:link, a:visited {
    color: #fff;
    text-decoration: none;
}

.fixture-dropdown {
    color: #fff;
    background-color: #a7a7a7;
    position: relative;
    left: 17%;
    font-size: 250%;  
    text-align: center;
    width: 67%;
    border: 2px #fff solid;
    outline: none;
}

.fixture-dropdown:hover {
    background-color: red;
}

.fixtures {
    padding: 0 10px;
    border: 1px solid #fff;
    width: 67%;
    position: relative;
    left: 36%;
    
    
    
}

.fixtures ul {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    
    
}


.ind-fixture li {
    
    text-align: center;
    
}

.squad-row {
    height: 300px;
    width: 100%;
    display: inline;
    padding-left: 3%;
    margin-bottom: 10px;
}

.squad-member {
    display: inline-flex;
    width: 30%;
    height: 280px;
    border: 2px #a7a7a7 solid;
    padding: 5px;
    position: relative;
    margin-bottom: 5px;
}

.squad-profile {
    position: relative;
    text-align: center;
    padding: 1px;
    padding-top: 20%;
    display:block;
    
}

.squad-profile b {
    font-weight: 900;
    text-decoration: underline;
}

.squad-member img {
    float: left;
    
}

.official-panel {
    height: 300px;
    width: 90%;
    display: block;
    margin: 1% 0% 1% 5%;
    position: relative;
    border: 1px solid black;

    
}

.official-item {
    height: 250px;
    width: 48%;
    margin: 5px;
    position: relative;
    display: inline-flex;
    padding-bottom: 30px;
    
}

.official-name {
    position: relative;
    height: 30px;
    width: 50%;
    display: inline;
    right: 66%;
    top: 100%;
    font-size: 150%;
    text-align: center;
}

.official-name1 {
    position: relative;
    height: 30px;
    width: 50%;
    display: inline;
    right: 75%;
    top: 100%;
    font-size: 150%;
    text-align: center;
}

.official-item:first-child {
    padding-right: 10px;
    border-right: 3px solid #e70b0b;
}

.official-item img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 500px) {
    #menu li {
        width: 100%;
        float: none;
        border: 1px #fff solid; 

    }

    body {
        width: 100%;
    }

    #logoholder {
    padding-bottom: 5px;
    height: 100px;
     position: relative;
    }   

    #logo {
    color: red;
    display: inline;
    font-size: 40px;
    position: relative;
    bottom: 60px;
    left: 5px;
    }

    #logoholder a {
    text-decoration: none;
    padding-bottom: 0px;
    color: red;
    }



    #logoholder p {
    position: relative;
    bottom: 60px;
    left: 110px;
    height: 50px;
    width: 250px;
    line-height: 15px;
    }

    #logoholder, #menu {
    line-height: 25px;
    }

    img.logo-img {
        width: 100px;
        height: 100px;
    }

    header {
        width: 100%;
        display: inline;
        
    }

    #hero-image {
        display: none;
    }

    .content-1-title {
    padding: 10px 0;
    text-align: center;
    }

    .content-1 {
    background-color: white;
    width: 95%;
    display: block;
    overflow: auto;
    margin: 10px auto;
    border: 1px solid white;
    border-radius: 25px;
    text-align: center;
    }

    .reddit-top-month {
    position: relative;
    float: none;
    padding: 5px;
    padding-right: 0px;
    border-right: solid 1px #a7a7a7;
    padding-left: 0px;
    width: 100%;
    display: inline;
    }

    #Reddit-IMG-Ad {
    position: relative;
    right: 0px;
    top: 100px;
    float: none;
    display: inline-block;
    }

    #Reddit-IMG-Ad h3 {
    position: relative;
    right: 0px;
    top: 0px;
    text-align: center;
    }

    .subreddit-widget {
        position: relative;
        right: 10%;
        
        object-position: center;
    }

    .subreddit-widget h4 {
        text-align: center;
        padding-left: 20%;
    }

    .subreddit-widget #o-subs {
        padding-top: 20px;
    }

    .other-subs {
        width: 200px;
        height: 300px;
        list-style-type:none;
    }

    .other-subs li {
        text-align: center;
        font-size: 120%;
        padding: 10px;
        border: solid 2px #fff;
        background-color: red;
        position: relative;
        left: 25%;
    }

    div.fixtures {
        width: 67%;
        left:14%;
    }

        .squad-row {
        height: 300px;
        width: 100%;
        display: inline;
        padding-left: 0%;
        margin-bottom: 10px;
    }

    .squad-member {
        display: inline-flex;
        width: 95%;
        height: 226px;
        border-top: 2px #a7a7a7 solid;
        padding: 0px;
        position: relative;
        margin-bottom: 5px;
        margin-left: 8px;
    }

    img.squad-img {
        width: 176px;
        height: 226px;
        
    }

    .squad-profile {
        padding-left: 2px;
    }
}

@media screen and (max-width:350px) {
        #logoholder p {
        width: 210px;
        font-size: 85%;
        }

       
    }